Xft.dpi:        144

st.font:        Fira Mono:pixelsize=18:antialias=true:autohint=true;
st.cursorshape: 6

!st.background:  #282828
st.background:  #120f0f
st.foreground:  #cac8b0

! black
st.color0:   #100503
st.color8:   #27211b

! red
st.color1:   #984e41
st.color9:   #ff6447

! green
st.color2:   #7f7666
st.color10:  #708c7c

! yellow
st.color3:   #433e34
st.color11:  #c0bf9b

! blue
st.color4:   #b3a590
st.color12:  #8bb3a0

! magenta
st.color5:   #785d78
st.color13:  #b8a3b8

! cyan
st.color6:   #a4b4ad
st.color14:  #b1e2cd

! white
st.color7:   #cac8b0
st.color15:  #e3e5c8
