URxvt.scrollBar:	false
URxvt.font:		-*-tewi-medium-*-*-*-*-*-*-*-*-*-*-*

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/qutebrowser
URxvt.matcher.button: 1

!URxvt.depth:		32
!URxvt.background:	[85]#1d1f21

#define COLOR_BG #1a0a1a
#define COLOR_FG #f7bba1

#define COLOR_0 #fd7d4a
#define COLOR_1 #ee443a
#define COLOR_2 #bc2c48
#define COLOR_3 #a55f6e
#define COLOR_4 #a41b3e
#define COLOR_5 #c12238
#define COLOR_6 #7d0031
#define COLOR_7 #fd583d
#define COLOR_8 #9c0e2d
#define COLOR_9 #830133
#define COLOR_10 #b5083d
#define COLOR_11 #d94549
#define COLOR_12 #8c0a37
#define COLOR_13 #d3333b
#define COLOR_14 #c8283e
#define COLOR_15 #fe6c40

URxvt.background:   COLOR_BG
URxvt.foreground:	COLOR_FG

*color0:    COLOR_0
*color1:    COLOR_1
*color2:    COLOR_2
*color3:    COLOR_3
*color4:    COLOR_4
*color5:    COLOR_5
*color6:    COLOR_6
*color7:    COLOR_7
*color8:    COLOR_8
*color9:    COLOR_9
*color10:   COLOR_10
*color11:   COLOR_11
*color12:   COLOR_12
*color13:   COLOR_13
*color14:   COLOR_14
*color15:   COLOR_15

rofi.terminal:  urxvt
rofi.lines:     10
rofi.eh:        2
rofi.width:     40
rofi.padding:   10
rofi.opacity:   95
rofi.bw:        4
rofi.bc:        COLOR_0
rofi.bg:        COLOR_BG
rofi.fg:        COLOR_FG
rofi.hlbg:      COLOR_0
rofi.hlfg:      COLOR_9
rofi.font:      Tewi 8
